# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# vim artifacts
**.swp

# Ignore application configuration
/config/application.yml

# bower
/vendor/assets/bower_components

/db/user_seeds.rb
